# Merging TRY data with iNaturalist observations

## README: 
This notebook takes the raw TRY data and combines it with the merged iNaturalist data from notebook 1.

## Metadata

Here is the request, submitted 13 Oct 2023, downloaded 16 Oct 2023:

TRY Data Request 29376  
Only public data were requested.  
Title:  
Using iNaturalist data to characterize relationships between flower color and phenology  
Authors:  
Patrick McKenzie (Columbia University) PI  
Trait List:  
207, 3866,  
Species List:  
  
Description:

In [1]:
import pandas as pd
import numpy as np

In [2]:
%pwd

'/Users/patrickmckenzie/googledrive/projects/flower_color_phenology/notebooks'

In [3]:
%cd ..

/Users/patrickmckenzie/googledrive/projects/flower_color_phenology

# Open raw data

In [4]:
raw_color_data = pd.read_csv(filepath_or_buffer='./raw_try_data/29376_13102023214606/29376.txt',sep='\t', encoding='ISO-8859-1')

In [5]:
raw_color_data.columns

Index(['LastName', 'FirstName', 'DatasetID', 'Dataset', 'SpeciesName',
       'AccSpeciesID', 'AccSpeciesName', 'ObservationID', 'ObsDataID',
       'TraitID', 'TraitName', 'DataID', 'DataName', 'OriglName',
       'OrigValueStr', 'OrigUnitStr', 'ValueKindName', 'OrigUncertaintyStr',
       'UncertaintyName', 'Replicates', 'StdValue', 'UnitName',
       'RelUncertaintyPercent', 'OrigObsDataID', 'ErrorRisk', 'Reference',
       'Comment', 'StdValueStr', 'Unnamed: 28'],
      dtype='object')

# The data is pretty messy. Let's try to isolate categorical colors

### find all one-word flower-color labels

In [6]:
np.unique(list(np.array([str(i) for i in raw_color_data.OrigValueStr])[np.array([len(str(i).split(' ')) for i in raw_color_data.OrigValueStr]) < 2]))

array(['/', '01/01/2015', '01/02/2015', '01/03/2015', '01/04/2015',
       '01/05/2015', '01/06/2015', '01/07/2015', '01/08/2015',
       '01/09/2015', '01/10/2015', '01/11/2015', '01/12/2015',
       '01/13/2015', '01/14/2015', '01/15/2015', '01/16/2015',
       '01/17/2015', '01/18/2015', '01/19/2015', '01/20/2015',
       '01/21/2015', '01/22/2015', '01/23/2015', '01/24/2015',
       '01/25/2015', '01/26/2015', '01/27/2015', '01/28/2015',
       '01/29/2015', '01/30/2015', '01/31/2015', '02/01/2015',
       '02/02/2015', '02/03/2015', '02/04/2015', '02/05/2015',
       '02/06/2015', '02/07/2015', '02/08/2015', '02/09/2015',
       '02/10/2015', '02/11/2015', '02/12/2015', '02/13/2015',
       '02/14/2015', '02/15/2015', '02/16/2015', '02/17/2015',
       '02/18/2015', '02/19/2015', '02/20/2015', '02/21/2015',
       '02/22/2015', '02/23/2015', '02/24/2015', '02/25/2015',
       '02/26/2015', '02/27/2015', '02/28/2015', '03/01/2015',
       '03/02/2015', '03/03/2015', '03/04/2015', '03/05/2015',
       '03/06/2015', '03/07/2015', '03/08/2015', '03/09/2015',
       '03/10/2015', '03/11/2015', '03/12/2015', '03/13/2015',
       '03/14/2015', '03/15/2015', '03/16/2015', '03/17/2015',
       '03/18/2015', '03/19/2015', '03/20/2015', '03/21/2015',
       '03/22/2015', '03/23/2015', '03/24/2015', '03/25/2015',
       '03/26/2015', '03/27/2015', '03/28/2015', '03/29/2015',
       '03/30/2015', '03/31/2015', '04/01/2015', '04/02/2015',
       '04/03/2015', '04/04/2015', '04/05/2015', '04/06/2015',
       '04/07/2015', '04/08/2015', '04/09/2015', '04/10/2015',
       '04/11/2015', '04/12/2015', '04/13/2015', '04/14/2015',
       '04/15/2015', '04/16/2015', '04/17/2015', '04/18/2015',
       '04/19/2015', '04/20/2015', '04/21/2015', '04/22/2015',
       '04/23/2015', '04/24/2015', '04/25/2015', '04/26/2015',
       '04/27/2015', '04/28/2015', '04/29/2015', '04/30/2015',
       '05/01/2015', '05/02/2015', '05/03/2015', '05/04/2015',
       '05/05/2015', '05/06/2015', '05/07/2015', '05/08/2015',
       '05/09/2015', '05/10/2015', '05/11/2015', '05/12/2015',
       '05/13/2015', '05/14/2015', '05/15/2015', '05/16/2015',
       '05/17/2015', '05/18/2015', '05/19/2015', '05/20/2015',
       '05/21/2015', '05/22/2015', '05/23/2015', '05/24/2015',
       '05/25/2015', '05/26/2015', '05/27/2015', '05/28/2015',
       '05/29/2015', '05/30/2015', '05/31/2015', '06/01/2015',
       '06/02/2015', '06/03/2015', '06/04/2015', '06/05/2015',
       '06/06/2015', '06/07/2015', '06/08/2015', '06/09/2015',
       '06/10/2015', '06/11/2015', '06/12/2015', '06/13/2015',
       '06/14/2015', '06/15/2015', '06/16/2015', '06/17/2015',
       '06/18/2015', '06/19/2015', '06/20/2015', '12/01/2014',
       '12/02/2014', '12/03/2014', '12/04/2014', '12/05/2014',
       '12/06/2014', '12/07/2014', '12/08/2014', '12/09/2014',
       '12/10/2014', '12/11/2014', '12/12/2014', '12/13/2014',
       '12/14/2014', '12/15/2014', '12/16/2014', '12/17/2014',
       '12/18/2014', '12/19/2014', '12/20/2014', '12/21/2014',
       '12/22/2014', '12/23/2014', '12/24/2014', '12/25/2014',
       '12/26/2014', '12/27/2014', '12/28/2014', '12/29/2014',
       '12/30/2014', '12/31/2014', '1230-1300', '1230-1301', '1230-1302',
       '1230-1303', '1230-1304', '1230-1305', '1230-1306', '1230-1307',
       '1230-1308', '1230-1309', '1230-1310', '1230-1311', '1230-1312',
       '1230-1313', '1230-1314', '1230-1315', '1230-1316', '1230-1317',
       '1230-1318', '1230-1319', '1230-1320', '1230-1321', '1230-1322',
       '1230-1323', '1230-1324', '1230-1325', '1230-1326', '1230-1327',
       '1230-1328', '1230-1329', '1230-1330', '1230-1331', '1230-1332',
       '1230-1333', '1230-1334', '1230-1335', '1230-1336', '1230-1337',
       '1230-1338', '1230-1339', '1230-1340', '1230-1341', '1230-1342',
       '1230-1343', '1230-1344', '1230-1345', '1230-1346', '1230-1347',
       '1230-1348', '1230-1349', '1230-1350', '1230-1351', '1230-1352',
       '1230-1353', '1230-1354', '1230-1355', '1230-1356', '1230-1357',
       '1230-1358', '1230-1359', '1230-1360', '1230-1361', '1230-1362',
       '1230-1363', '1230-1364', '1230-1365', '1230-1366', '1230-1367',
       '1230-1368', '1230-1369', '1230-1370', '1230-1371', '1230-1372',
       '1230-1373', '1230-1374', '1230-1375', '1230-1376', '1230-1377',
       '1230-1378', '1230-1379', '1230-1380', '1230-1381', '1230-1382',
       '1230-1383', '1230-1384', '1230-1385', '1230-1386', '1230-1387',
       '1230-1388', '1230-1389', '1230-1390', '1230-1391', '1230-1392',
       '1230-1393', '1230-1394', '1230-1395', '1230-1396', '1230-1397',
       '1230-1398', '1230-1399', '1230-1400', '1230-1401', '1230-1402',
       '1230-1403', '1230-1404', '1230-1405', '1230-1406', '1230-1407',
       '1230-1408', '1230-1409', '1230-1410', '1230-1411', '1230-1412',
       '1230-1413', '1230-1414', '1230-1415', '1230-1416', '1230-1417',
       '1230-1418', '1230-1419', '1230-1420', '1230-1421', '1230-1422',
       '1230-1423', '1230-1424', '1230-1425', '1230-1426', '1230-1427',
       '1230-1428', '1230-1429', '1230-1430', '1230-1431', '1230-1432',
       '1230-1433', '1230-1434', '1230-1435', '1230-1436', '1230-1437',
       '1230-1438', '1230-1439', '1230-1440', '1230-1441', '1230-1442',
       '1230-1443', '1230-1444', '1230-1445', '1230-1446', '1230-1447',
       '1230-1448', '1230-1449', '1230-1450', '1230-1451', '1230-1452',
       '1230-1453', '1230-1454', '1230-1455', '1230-1456', '1230-1457',
       '1230-1458', '1230-1459', '1230-1460', '1230-1461', '1230-1462',
       '1230-1463', '1230-1464', '1230-1465', '1230-1466', '1230-1467',
       '1230-1468', '1230-1469', '1230-1470', '1230-1471', '1230-1472',
       '1230-1473', '1230-1474', '1230-1475', '1230-1476', '1230-1477',
       '1230-1478', '1230-1479', '1230-1480', '1230-1481', '1230-1482',
       '1230-1483', '1230-1484', '1230-1485', '1230-1486', '1230-1487',
       '1230-1488', '1230-1489', '1230-1490', '1230-1491', '1230-1492',
       '1230-1493', '1230-1494', '1230-1495', '1230-1496', '1230-1497',
       '1230-1498', '1230-1499', '1230-1500', '1230-1501', '4,45N',
       '75,22W', 'Acanthaceae', 'Adoxaceae', 'Anacardiaceae',
       'Annonaceae', 'Apocynaceae', 'Araliaceae', 'Araucariaceae',
       'Arecaceae', 'Asparagaceae', 'Asteraceae', 'Bignoniaceae',
       'Bixaceae', 'Black', 'Blue', 'Boraginaceae', 'Brown',
       'Burseraceae', 'Cactaceae', 'Calophyllaceae', 'Caricaceae',
       'Casuarinaceae', 'Chrysobalanaceae', 'Clusiaceae', 'Combretaceae',
       'Compositae', 'Cupressaceae', 'Cycadaceae', 'Erythroxylaceae',
       'Euphorbiaceae', 'Green', 'Lacistemataceae', 'Lauraceae',
       'Leguminosae', 'Lythraceae', 'Malpighiaceae', 'Malvaceae',
       'Mature', 'Melastomataceae', 'Meliaceae', 'Moraceae',
       'Muntingiaceae', 'Myrsinaceae', 'Myrtaceae', 'Nyctaginaceae',
       'Oleaceae', 'Orange', 'Oxalidaceae', 'Phyllanthaceae', 'Pinaceae',
       'Piperaceae', 'Polygonaceae', 'Purple', 'Red', 'Rhamnaceae',
       'Rubiaceae', 'Rutáceae', 'Salicaceae', 'Sapindaceae', 'Sapotaceae',
       'Solanaceae', 'Thymelaeaceae', 'Urticaceae', 'Verbenaceae',
       'White', 'Yellow', 'Zygophyllaceae', 'amarillo', 'azurblau',
       'blanco', 'blassblau', 'blassbläulich', 'blassgelb',
       'blassgelblich', 'blassgrün', 'blassgrünlich', 'blasslila',
       'blassrosa', 'blassrot', 'blassviolett', 'blau', 'blaugrün',
       'blaulila', 'blauviolett', 'bleichgelb', 'blue', 'blutrot',
       'bläulich', 'bläulichweiß', 'braun', 'braun-violett', 'braunlila',
       'braunpurpurn', 'braunrot', 'bronzebräunlich', 'brown',
       'bräunlich', 'bräunlichgelb', 'bräunlichrot', 'bräunlichweiß',
       'bunt', 'café', 'cream', 'cremefarben', 'cremeweiß', 'dottergelb',
       'dunkelblau', 'dunkelbraun', 'dunkelgelb', 'dunkelgrün',
       'dunkelolivgrün', 'dunkelpurpurn', 'dunkelrosa', 'dunkelrot',
       'dunkelviolett', 'fleischfarben', 'fleischrosa', 'fleischrot',
       'fucsia', 'gelb', 'gelbbraun', 'gelbgrün', 'gelbich', 'gelblich',
       'gelblich-bräunlich', 'gelblich-chromgrün', 'gelblich-grünlich',
       'gelblich-trübrot', 'gelblichgrün', 'gelblichgrün,grün',
       'gelblichweiß', 'golbgelb', 'goldgelb', 'graugrün', 'green',
       'grün', 'grüngelblich', 'grünlich', 'grünlich-chromgelb',
       'grünlich-gelblich', 'grünlichbraun', 'grünlichgelb',
       'grünlichweiß', 'hellblau', 'hellbraun', 'hellgelb', 'hellgrün',
       'hellpurpurn', 'hellrosa', 'hellrot', 'hellviolett', 'himmelblau',
       'karminrot', 'kastanienbraun', 'lederbraun', 'lila', 'lilapurpurn',
       'lilarosa', 'marron', 'mattweiß', 'morado', 'nan', 'naranja',
       'ockergelb', 'orange', 'orange-rot', 'orangegelb', 'orangerot',
       'pink', 'pupurviolett', 'purple', 'purpun', 'purpurbraun',
       'purpurkarminrot', 'purpurn', 'purpurrosa', 'purpurrot',
       'purpurviolett', 'rahmweiß', 'red', 'reinweiß', 'rojo', 'rosa',
       'rosa-lila', 'rosado', 'rosalila', 'rosarot', 'rosenrot', 'rot',
       'rotbraun', 'rotlila', 'rotviolett', 'rötlich', 'rötlichbraun',
       'rötlichgelb', 'rötlichgrün', 'rötlichlila', 'rötlichviolett',
       'rötlichweiß', 'sattgelb', 'scharlachrot', 'schmutziggelb',
       'schmutzigweiß', 'schokoladenbraun', 'schwarzblau', 'schwarzbraun',
       'schwefelgelb', 'solanacea', 'strohgelb', 'tiefblau', 'tiefrosa',
       'tiefrot', 'trüblila', 'trübpurpurn', 'trübrosa', 'trübrot',
       'verde', 'verschieden', 'verschiedenfarbig', 'vielfarbig',
       'violet', 'violett', 'violettblau', 'violettrosa', 'violettrot',
       'weiß', 'weißlich', 'weißlich-gelbgrün', 'weißlichgelb',
       'weißlichgrün', 'weißrandig', 'white', 'yellow', 'ziegelrot',
       'zitronengelb'], dtype='<U18')

# Try isolating real color labels
[Black,Blue,Brown,Green,Orange,Purple,Red,White,Yellow,Pink,Violet]

### Just narrow down to rows where the OrigValueStr column has one of these colors

In [7]:
simple_species_cols = raw_color_data.iloc[np.array([str(i).lower() in ["black","blue","brown","green","orange","purple","red","white","yellow","pink","violet"] for i in raw_color_data.OrigValueStr])]

### Add a column for the lowercase scientific names

In [8]:
simple_species_cols['AccSpeciesName_lower'] = [i.lower() for i in simple_species_cols['AccSpeciesName']]

/var/folders/qh/c7rwx84921n2kznn09zb2pnh0000gn/T/ipykernel_5815/2641763539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  simple_species_cols['AccSpeciesName_lower'] = [i.lower() for i in simple_species_cols['AccSpeciesName']]

In [9]:
len(simple_species_cols.index)

17137

# Now match up to the inaturalist data

In [10]:
fullinat=pd.read_csv('./data/combined_raw_inaturalist_export.csv')

/var/folders/qh/c7rwx84921n2kznn09zb2pnh0000gn/T/ipykernel_5815/41183330.py:1: DtypeWarning: Columns (0,5,14,18,19,20,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  fullinat=pd.read_csv('./data/combined_raw_inaturalist_export.csv')

In [11]:
len(np.unique([' '.join(str(i).split(' ')[:2]) for i in fullinat.scientific_name]))

13847

## there are 13,847 total species in the inaturalist dataset

# How many of these do we have colors for?

In [12]:
names_list = []
colors_list = []
for idx, inat_obs_name in enumerate(np.unique([str(i) for i in fullinat.scientific_name])):
    subdf = simple_species_cols[simple_species_cols.AccSpeciesName_lower.eq(inat_obs_name.lower())][['AccSpeciesName_lower','OrigValueStr']]
    if len(subdf.index):
        names_list.extend(subdf['AccSpeciesName_lower'])
        colors_list.extend(subdf['OrigValueStr'])

In [13]:
len(names_list)

3385

In [14]:
len(np.unique(names_list))

2527

In [15]:
# proportion of species for which we have color data
2527 / 13847

0.18249440311980936

### We have colors for 2,527 of the species

# How many total observations have colors accompanying them?

### how many obervations are there?

In [16]:
len(fullinat.index)

1763883

### how many of these are in the color dataset?

In [17]:
color_present = 0
for spname in fullinat.scientific_name:
    color_present += ' '.join(str(spname).lower().split(' ')[:2]) in names_list # just taking the first two names -- agnostic to subspecies
color_present

673100

In [18]:
# proportion of obserations for which we have flower color
673100 / 1763883

0.381601274007403

# Make the final mapping csv
### This will include some species with repeated or different color labels

In [19]:
cleaned_matched_csv = pd.DataFrame([names_list,colors_list],index=['species_name','color']).T
cleaned_matched_csv

                species_name   color
0     abelmoschus esculentus     red
1     abelmoschus esculentus   white
2     abelmoschus esculentus  yellow
3          abrus precatorius    pink
4        abutilon fruticosum  orange
...                      ...     ...
3380        zinnia peruviana     red
3381        zinnia peruviana  yellow
3382        zizania aquatica   Green
3383    zizaniopsis miliacea  Yellow
3384         zoysia matrella  Yellow

[3385 rows x 2 columns]

In [20]:
cleaned_matched_csv.to_csv('data/cleaned_matched_colors.csv')